---
apiVersion: tekton.dev/v1alpha1
kind: TaskRun
metadata:
  name: create-{{ .Values.application.name }}-github-webhook
  namespace: {{ .Values.application.environments.cicd }}
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
spec:
  taskRef:
    name: create-webhook
  inputs:
    params:
    - name: GitHubOrg
      value: {{ .Values.pipeline.webhook.github.org }}
    - name: GitHubUser
      value: {{ .Values.pipeline.webhook.github.user }}
    - name: GitHubRepo
      value: {{ .Values.pipeline.webhook.github.repo }}
    - name: GitHubSecretName
      value: {{ .Values.pipeline.webhook.github.secret }}
    - name: GitHubAccessTokenKey
      value: token
    - name: GitHubSecretStringKey
      value: secret
    - name: ExternalDomain
      value: http://trigger-{{ .Values.application.environments.cicd }}.{{ .Values.cluster }}
  timeout: 2000s
  serviceAccountName: tekton-triggers-createwebhook