kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 5000
    hostPort: 5000
    protocol: TCP
  - containerPort: 80
    hostPort: 80
    protocol: TCP

