---
appName: &name jenkins

route: true

# ovs this is not a real password in use.... or is it?
# ¯\_(ツ)_/¯
source_secrets:
    # secret used to git clone inside of OpenShift when running s2i and possibly in a Jenkins job too
  - name: git-auth
    username: idm-sa
    password: thisisdefinitelymypassword
    # some token... appears in jenkins env as JSON ie {"token": "aaaaa.bbbbb.ccccc"}
  - name: my-token
    type: Opaque
    token: aaaaa.bbbbb.ccccc
    # default password for nexus bind for jenkis - this is ovs changed.
    # .... probably
  - name: nexus-password
    username: admin
    password: admin123

deployment:
  openshiftauth: true
  imagestream:
    name: *name
    tag: latest
  limits:
    memory_request: 2Gi
    memory_limit: 6Gi
    cpu_request: 500m
    cpu_limit: 1
  env_vars:
    - name: JVM_ARCH
      value: 'x86_64'
    - name: DISABLE_ADMINISTRATIVE_MONITORS
      value: 'false'
    - name: ENABLE_FATAL_ERROR_LOG_FILE
      value: 'false'
    - name: JENKINS_OPTS
      value: '--sessionTimeout=0'
    - name: SLACK_BASE_URL
      value: ''
    - name: SLACK_ROOM
      value: ''
    - name: SLACK_TOKEN_CREDENTIAL_ID
      value: ''
    - name: SLACK_TEAM
      value: ''
    - name: SHARED_LIB_REPO
      value: ''
    - name: SHARED_LIB_NAME
      value: ''
    - name: SHARED_LIB_REF
      value: ''
    - name: SHARED_LIB_SECRET
      value: ''
    - name: GITLAB_HOST
      value: ''
    - name: GITLAB_TOKEN
      value: ''
    - name: GITLAB_GROUP_NAME
      value: rht-labs

persistence:
  accessModes: ReadWriteOnce
  volumeSize: 20Gi

services:
  - name: *name
    port_name: web
    port: 80
    target_port: 8080
    selector: *name
    annotations: service.alpha.openshift.io/dependencies
  - name: jenkins-jnlp
    port_name: agent
    port: 50000
    target_port: 50000
    selector: *name

imagestreams:
  # Jenkins Imagestream for custom build or external
  - name: *name
    external:
      builder_registry: quay.io
      builder_repo: openshift
      builder_image: origin-jenkins
      builder_imagetag: latest
  # Jenkins agents image streams
  - name: jenkins-slave-mvn
  - name: jenkins-slave-argocd
  - name: jenkins-slave-helm
  - name: jenkins-slave-ansible
  - name: jenkins-slave-arachni
  - name: jenkins-slave-golang
  - name: jenkins-slave-gradle
  - name: jenkins-slave-image-mgmt
  - name: jenkins-slave-mongodb
  - name: jenkins-slave-npm
  - name: jenkins-slave-python
  - name: jenkins-slave-ruby
  - name: jenkins-slave-zap

buildconfigs:
  - name: *name
    build_trigger_secret: 'shhhhh-this-is-my-super-duper-secret123-shhhhh'
    strategy_type: "Source"
    source_secret: 'git-auth'
    pull_secret: ''
    source_repo: https://github.com/rht-labs/s2i-config-jenkins.git
    source_repo_ref: v1.8
    source_context_dir: '/'
    builder_image_name: jenkins
    builder_image_tag: '2'
  - name: "jenkins-slave-mvn"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-mvn"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "quay.io/eformat/origin-jenkins-agent-maven"
    builder_image_tag: "latest"
  - name: "jenkins-slave-helm"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-helm"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7"
    builder_image_tag: "latest"
  - name: "jenkins-slave-argocd"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-argocd"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "quay.io/openshift/origin-jenkins-agent-base"
    builder_image_tag: "4.3"
  - name: "jenkins-slave-arachni"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-arachni"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7"
    builder_image_tag: "latest"
  - name: "jenkins-slave-golang"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-golang"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7"
    builder_image_tag: "latest"
  - name: "jenkins-slave-gradle"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-gradle"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7"
    builder_image_tag: "latest"
  - name: "jenkins-slave-image-mgmt"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-image-mgmt"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7"
    builder_image_tag: "latest"
  - name: "jenkins-slave-mongodb"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-mongodb"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7"
    builder_image_tag: "latest"
  - name: "jenkins-slave-npm"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-npm"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "openshift/jenkins-slave-base-centos7"
    builder_image_tag: "v3.11"
  - name: "jenkins-slave-python"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-python"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7"
    builder_image_tag: "latest"
  - name: "jenkins-slave-ruby"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-ruby"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7"
    builder_image_tag: "latest"
  - name: "jenkins-slave-ansible"
    strategy_type: "Docker"
    source_context_dir: "jenkins-slaves/jenkins-slave-ansible"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "v1.22"
    builder_image_name: "registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7"
    builder_image_tag: "latest"
