---
appName: &name jenkins

route: true

# ovs this is not a real password in use.... or is it?
# ¯\_(ツ)_/¯
source_secrets:
    # secret used to git clone inside of OpenShift when running s2i and possibly in a Jenkins job too
  - name: git-auth
    username: idm-sa
    password: thisisdefinitelymypassword
    # some token... appears in jenkins env as JSON ie {"token": "aaaaa.bbbbb.ccccc"}
  - name: my-token
    type: Opaque
    token: aaaaa.bbbbb.ccccc
    # default password for nexus bind for jenkis - this is ovs changed.
    # .... probably
  - name: nexus-password
    username: admin
    password: admin123

deployment:
  openshiftauth: true
  imagestream:
    name: *name
    tag: latest
  limits:
    memory_request: 2Gi
    memory_limit: 6Gi
    cpu_request: 500m
    cpu_limit: 1
  env_vars:
    - name: JVM_ARCH
      value: 'x86_64'
    - name: DISABLE_ADMINISTRATIVE_MONITORS
      value: 'false'
    - name: ENABLE_FATAL_ERROR_LOG_FILE
      value: 'false'
    - name: JENKINS_OPTS
      value: '--sessionTimeout=0'
    - name: SLACK_BASE_URL
      value: ''
    - name: SLACK_ROOM
      value: ''
    - name: SLACK_TOKEN_CREDENTIAL_ID
      value: ''
    - name: SLACK_TEAM
      value: ''
    - name: SHARED_LIB_REPO
      value: ''
    - name: SHARED_LIB_NAME
      value: ''
    - name: SHARED_LIB_REF
      value: ''
    - name: SHARED_LIB_SECRET
      value: ''
    - name: GITLAB_HOST
      value: ''
    - name: GITLAB_TOKEN
      value: ''
    - name: GITLAB_GROUP_NAME
      value: rht-labs

persistence:
  accessModes: ReadWriteOnce
  volumeSize: 20Gi

services:
  - name: *name
    port_name: web
    port: 80
    target_port: 8080
    selector: *name
    annotations: service.alpha.openshift.io/dependencies
  - name: jenkins-jnlp
    port_name: agent
    port: 50000
    target_port: 50000
    selector: *name

imagestreams:
  # Jenkins Imagestream for custom build or external
  - name: *name
  # To use a pre built upstream image, uncomment the following
  # external:
  #   builder_registry: quay.io
  #   builder_repo: openshift
  #   builder_image: origin-jenkins
  #   builder_imagetag: latest
  # Jenkins agents image streams
  - name: jenkins-agent-mvn
  - name: jenkins-agent-argocd
  - name: jenkins-agent-helm
  - name: jenkins-agent-ansible
  - name: jenkins-agent-arachni
  - name: jenkins-agent-golang
  - name: jenkins-agent-gradle
  - name: jenkins-agent-image-mgmt
  - name: jenkins-agent-mongodb
  - name: jenkins-agent-npm
  - name: jenkins-agent-python
  - name: jenkins-agent-ruby
  - name: jenkins-agent-conftest

buildconfigs:
  # Jenkins S2I from Red Hat Labs
  - name: *name
    build_trigger_secret: 'shhhhh-this-is-my-super-duper-secret123-shhhhh'
    strategy_type: "Source"
    source_secret: 'git-auth'
    pull_secret: ''
    source_repo: https://github.com/rht-labs/s2i-config-jenkins.git
    source_repo_ref: v1.9
    source_context_dir: '/'
    builder_image_kind: "DockerImage"
    builder_image_name: quay.io/openshift/origin-jenkins
    builder_image_tag: "latest"
  # Jenkins agents for running builds etc
  - name: "jenkins-agent-mvn"
    source_context_dir: "jenkins-agents/jenkins-agent-mvn"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
    builder_image_name: "quay.io/eformat/origin-jenkins-agent-maven"
    builder_image_tag: "latest"
  - name: "jenkins-agent-helm"
    source_context_dir: "jenkins-agents/jenkins-agent-helm"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-argocd"
    source_context_dir: "jenkins-agents/jenkins-agent-argocd"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-arachni"
    source_context_dir: "jenkins-agents/jenkins-agent-arachni"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-golang"
    source_context_dir: "jenkins-agents/jenkins-agent-golang"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-gradle"
    source_context_dir: "jenkins-agents/jenkins-agent-gradle"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-image-mgmt"
    source_context_dir: "jenkins-agents/jenkins-agent-image-mgmt"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-mongodb"
    source_context_dir: "jenkins-agents/jenkins-agent-mongodb"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-npm"
    source_context_dir: "jenkins-agents/jenkins-agent-npm"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-python"
    source_context_dir: "jenkins-agents/jenkins-agent-python"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-ruby"
    source_context_dir: "jenkins-agents/jenkins-agent-ruby"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-ansible"
    source_context_dir: "jenkins-agents/jenkins-agent-ansible"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
  - name: "jenkins-agent-conftest"
    source_context_dir: "jenkins-agents/jenkins-agent-conftest"
    source_repo: "https://github.com/redhat-cop/containers-quickstarts"
    source_repo_ref: "master"
