---
{{- if .Values.metrics.enabled }}
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: prometheus-operator
  namespace: {{ include "argocd-operator.ns" . }}
spec:
  channel: beta
  installPlanApproval: Automatic
  name: prometheus
  source: community-operators
  sourceNamespace: openshift-marketplace
  startingCSV: {{ .Values.metrics.prometheus.version | quote }}
{{- end }}
