{{- if .Values.secrets }}
{{- range $key := .Values.secrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ include "argocd-operator.ns" $ }}
  labels:
    app.kubernetes.io/name: argocd-secret
    app.kubernetes.io/part-of: argocd
type: kubernetes.io/basic-auth
stringData:
  password: {{ .password | quote }}
  username:  {{ .username | quote }}
  sshPrivateKey: {{ .sshPrivateKey | quote }}
{{- end }}
{{- end }}
