# comment
.DS_Store
.git
*/temp*
*/*/temp*
temp?
test
tests
bin
application
templates/application
templates/app/angular-node-typescript-boiler
templates/app/src
templates/app/express-typescript-boilerplate
