extends layout
block content
  .container
      h2 
        p
         | Hello from demo
      br         
      br
      h5
        p
         | This is an application build & deployed via Cloud-native CI/CD Tekton Pipeline.
         br
         br
         | In order to use the "Get Author" function please also deploy the OpenLiberty Authors API
         br         
         br
         a(href='https://github.com/vladsancira/openliberty-tekton') https://github.com/vladsancira/openliberty-tekton
      br         
      br
    
      .row
        .col-md-3
          form(method="post", action="/nodejs/get_links")
            .form-group
              label.sr-only(for="author") Author Name
              input.form-control( name="author" type="text" placeholder="Enter Author Name (for ex: Vlad)" required='required')
            button.btn.btn-success(type="submit") Get Author
      if error_authors
        br
        .alert.alert-danger #{error_authors}
      if links
        .row
          .col-md-5
            p
            br
            .panel.panel-primary
              .panel-heading References for: #{links.name}
              .panel-body
               p Twitter = #{links.twitter}
               p Blog = #{links.blog}