# `true` to create (and clean up) manual InstallPlan approval resources as part of post-install,post-upgrade helm hook
# `false` to create  manual InstallPlan approval resources as part of normal install
#
# The hook method is nice to not have lingering resources needed for the manual InstallPlan approval but has the downside
# that no CustomResources using CustomResourceDefinitions installed by the operator can be used in the same chart because
# the operator InstallPlan wont be approved, and therefor the operator wont be installed, until the post-install,post-upgrade phase
# which means you will never get to that phase because your CustomResources wont be able to apply because the Operator isn't installed.
# This is is ultimately a trade off between cleaning up these resources or being able to install and configure the operator in the same
# helm chart that has a dependency on this helm chart.
approveManualInstallPlanViaHook: true

# Image to use for the InstallPlan Approver and Verify Jobs
installPlanApproverAndVerifyJobsImage: registry.redhat.io/openshift4/ose-cli:v4.15@sha256:bc35a9fc663baf0d6493cc57e89e77a240a36c43cf38fb78d8e61d3b87cf5cc5

# If specified, this imagePullSecret will be used for pulling the `installPlanApproverAndVerifyJobsImage`.
# Only needed when using a custom image and pulling from a private registry.
# Accepts a single string which is the name of an existing secret. (This chart does not create or manage the secret.)
installPlanApproverAndVerifyJobsImagePullSecret:

# If `true`, install the required Python libraries (openshift-client, semver==2.13.0) dynamically
# from the given `pythonIndexURL` and `pythonExtraIndexURL` into the `installPlanApproverAndVerifyJobsImage` at run time
#
# This is because the supported ose-cli image from red hat does not include the Python libraries
# and it is beyond the scope of this helm chart to provide an image that provides those tools.
#
# If `false`, such as if you are running in a disconnected environment, you either need to change `installPlanApproverAndVerifyJobsImage` to be an image that includes `oc` and the required python libraires.
# Or change `pythonIndexURL` and `pythonExtraIndexURL` to be a local python index with the required python libraries.
#
# Required Python libraries
#   * openshift-client
#   * semver==2.13.0
installRequiredPythonLibraries: true

# If `installRequiredPythonLibraries` is `true` then use this python index to pull required libraries
pythonIndexURL: https://pypi.org/simple/

# If `installRequiredPythonLibraries` is `true` then use this python extra index to pull required library dependencies
pythonExtraIndexURL: https://pypi.org/simple/

# EXAMPLE: declaratively controlled operator version
operators:
# - channel: stable
#   installPlanApproval: Manual
#   name: external-secrets-operator
#   source: community-operators
#   sourceNamespace: openshift-marketplace
#   csv: external-secrets-operator.v0.8.2
# - channel: gitops-1.10
#   installPlanApproval: Manual
#   name: openshift-gitops-operator
#   source: redhat-operators
#   sourceNamespace: openshift-marketplace
#   csv: openshift-gitops-operator.v1.10.1
#   namespace: openshift-gitops-operator
#   config:
#     env:
#     - name: DISABLE_DEFAULT_ARGOCD_INSTANCE
#       value: "true"

# configuration for control of OperatorGroups
operatorGroups:
# EXAMPLE: adding OperatorGroup to named namespace
# - name:
#   createNamespace:
#   targetOwnNamespace:
#   otherTargetNamespaces:

# EXAMPLE: adding OperatorGroup to Helm .Release.Namespace
# - createNamespace:
#   targetOwnNamespace:
#   otherTargetNamespaces:

# Common labels to add to all chart created resources.
# Implements the same idea from Kustomize for this chart.
commonLabels:
