apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: helm
  namespace: {{ .Values.application.environments.cicd }}
spec:
  params:
    - name: ref
      description: Git reference
    - name: repourl
      description: repository url from github payload
    - name: repofullname
      description: full name user-org/reponame from github
    - name: revision
      description: commit head unique id
      type: string
    - name: revision-type
      description: revision type
      type: string
    - name: revision-name
      description: revision name
      type: string
  resources:
    inputs:
      - name: source
        type: git
  steps:
    - name: helm-prepare
      image: ubi8/nodejs-10
      resources: {}
      workingDir: /workspace/source/{{ .Values.pipeline.build.s2i.context }}
      script: |
        #!/bin/sh
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
          chmod 700 get_helm.sh
          ./get_helm.sh
          cp /usr/local/bin/helm /workspace/source/{{ .Values.pipeline.build.s2i.context }}
          ls -ls
          helm version
      securityContext:
        runAsUser: 0

    - name: chart-lint
      image: ubi8/nodejs-10
      resources: {}
      workingDir: /workspace/source/{{ .Values.pipeline.build.s2i.context }}
      script: |
        #!/bin/sh
          ls -ls
          ./helm lint chart
      securityContext:
        runAsUser: 0 # might not be the best option

    # - name: code-coverage
    #   image: ubi8/nodejs-10
    #   resources: {}
    #   workingDir: /workspace/source/{{ .Values.pipeline.build.s2i.context }}
    #   script: |
    #     #!/bin/sh
    #     npm run coverage
    #   securityContext:
    #     runAsUser: 0 # might not be the best option

  volumes:
    - name: varlibcontainers
      emptyDir: {}
    - name: gen-source
      emptyDir: {}