name: Lint and Test Charts

on: 
  pull_request:
    paths-ignore:
      - '.github/**'
jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch history
        run: git fetch --prune --unshallow

      - name: Run chart-testing (lint)
        id: lint
        uses: helm/chart-testing-action@v2.0.1
        with:
          command: lint
          config: ct.yaml

      # TODO
      # These checks invariably fail with openshift specific features, features that need pv/pvc
      # Need a better strategy here
      # - name: Create kind cluster
      #   uses: helm/kind-action@v1.0.0-rc.1
      #   if: steps.lint.outputs.changed == 'true'

      # - name: Run chart-testing (install)
      #   uses: helm/chart-testing-action@v2.0.1
      #   with:
      #     command: install
      #     config: ct.yaml
