{{- if .Values.route }}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/timeout: 4m
    openshift.io/host.generated: "true"
  name: {{ .Values.appName }}
spec:
  host: null
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: {{ .Values.appName }}
status:
  ingress:
    - conditions:
        - status: 'True'
          type: Admitted
{{ end }}
